body {
    width: 100vw;
    height: 100vh;
    background-image: url("Images/fond.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Gill Sans", "Gill Sans MT";
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;



  }
  .txtTop {
    font-size: 20px;
    color: white;
  }
  .txtBoutton {
    color: white;
  }
  .txtBoutton:hover {
    color: black;
  }
  a:link {
    text-decoration: none;
  }
  
  #all_app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 1.5%;
    width: 60%;
    height: 6%;
    background-color: #1d1a1e;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .headerLeft {
    display: flex;
    flex-direction: row;
  }
  .headerRight {
    margin-left: ;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
  }
  .logoTop {
    padding-top: 17px;
    padding-right: 17px;
    padding-left: 17px;
    width: 30px;
    height: 28px;
  }
  section{
    width: 60%;
    height: 45%;
    background-color: #1d1a1e;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  h1{
    color: white;
    margin:0px;
    display: flex;
    justify-content: center;
    padding-top:5%;


  }
  .bouttonCom{

  }
  .Boutton{
    text-align: center;
    width: 280px;
    height: 25px;
    margin-top: 15px;
    border-radius: 20px;
  }
.bouttonCom{
    text-align: center;
    width: 300px;
    height: 60px;
    margin-top: 15px;
    border-radius: 20px;
  }
  .bouttonConfirm{
    cursor: pointer;
    height: 30px;
    width: 100px;
    background-color:#1db954 ;
    border-radius: 20px;
  }
 